 body{
    margin: 0;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}
.complete{
    height: 100vh;
    background: rgba(0,0,0,0.7);
}
.header {
    height: 20%;
    display: flex;
}
.image {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.buttons{
    padding: 30px;
    width: 60%;
    text-align: right;
}
.signin{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: red;
    padding: 8px 14px;
    border: none;
    border-radius:4px;
    margin-right: 10px;
}
.Register{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: red;
    padding: 8px 14px;
    border: none;
    border-radius:4px;
}
.Text{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: white;
}
h1{
    font-size: 55px;
    margin: 0;
}
p{
  font-weight: 400;
  margin:12px
}
#p1{
    font-size: 28px;
}
#p2{
    font-size: 23px;
}
